 table {
 	border:1px  solid;
 	border-color: red ;
 } 
 td {
 	border  :1px black solid;
	height: 10px;
	width: 10px ;
	transition-property: background-color;
 	transition-duration: 0.5s;
 }
 td.selected {
 	background-color: black ;
 }